<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <nav>
        <div class="nav_header">
            <div class="nav_logo">
                <a routerLink="/index" routerLinkActive="active" ariaCurrentWhenActive="page" class="logo">Peloteros</a>
            </div>
            <div class="nav_menu_btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav_links" id="nav-links">
            <li><a routerLink="/index" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a></li>
            <li><a href="Horarios.html">CANCHAS</a></li>
            <li><a href="Login.html">LOGIN</a></li>
            <li><a href="#home">HOME</a></li>
        </ul>
        <div class="nav_btns">
            <button  class="btn">ALQUILA TU CANCHA</button>
        </div>
    </nav>

    <div class="banner">
        <div class="slider" style="--quantity: 10">
            <div class="item" style="--position: 1"><img src="imagen/cancha1.PNG" alt=""></div>
            <div class="item" style="--position: 2"><img src="imagen/cancha2.PNG" alt=""></div>
            <div class="item" style="--position: 3"><img src="imagen/cancha3.PNG" alt=""></div>
            <div class="item" style="--position: 4"><img src="imagen/cancha1.PNG" alt=""></div>
            <div class="item" style="--position: 5"><img src="imagen/cancha2.PNG" alt=""></div>
            <div class="item" style="--position: 6"><img src="imagen/cancha3.PNG" alt=""></div>
            <div class="item" style="--position: 7"><img src="imagen/cancha1.PNG" alt=""></div>
            <div class="item" style="--position: 8"><img src="imagen/cancha2.PNG" alt=""></div>
            <div class="item" style="--position: 9"><img src="imagen/cancha3.PNG" alt=""></div>
            <div class="item" style="--position: 10"><img src="imagen/cancha1.PNG" alt=""></div>
        </div>
        <div class="content">
            <h2>¿Quiénes somos?</h2>
            <p><b>Peloterosgmail.com</b></p>
            <p>Somos una empresa dedicada a ofrecer los mejores campos deportivos para tus eventos y entrenamientos. Nos enfocamos en brindar la mejor experiencia a nuestros clientes con canchas de alta calidad y atención personalizada.</p>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="card-front">
                <img src="imagen/value.png" alt="Imagen 1">
            </div>
            <div class="card-back">
                <h3>Valores</h3>
                <p>Ser la plataforma líder en la región, conectando a las personas con espacios deportivos.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-front">
                <img src="imagen/objetivos.png" alt="Imagen 2">
            </div>
            <div class="card-back">
                <h3>Objetivos</h3>
                <p>Optimizar las reservas deportivas, fomentar la actividad física y fortalecer la comunidad.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-front">
                <img src="imagen/mision.png" alt="Imagen 3">
            </div>
            <div class="card-back">
                <h3>Mision</h3>
                <p>Nuestra misión es ofrecer servicios de calidad para facilitar la reserva de canchas y promover el deporte.</p>
            </div>
        </div>
    </div>
    
    
    <div class="mapa-container">
        <h3>Ubicación</h3>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1730934899485!6m8!1m7!1sl8aa0Ap3E55jWqgObEu_Pg!2m2!1d-11.91815874439594!2d-77.0605598129619!3f304.27373011686035!4f-10.069087413168518!5f0.7820865974627469"
                width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------------------->
    <footer>
        <div class="row">

            <div class="col">
                <img src="imagen/logo.png" class="logo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Praesentium soluta reprehenderit minus, dolor quasi omnis a sit, 
                    deserunt corporis expedita asperiores vitae animi, in dolorum maxime 
                    alias rem nemo laborum.</p>
            </div>
            <div class="col">
                <h3>Office <div class="underline"><span></span></div></h3>
                <p>ITPL Road</p>
                <p>Lima, Comas</p>
                <p>Trapiche, 315, Peru</p>
                <p class="email-id">peloterosgmail.com</p>
                <h4>+51 934801388</h4>
            </div>
            <div class="col">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Direccion</a></li>
                    <li><a href="">Contactos</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Peloteros <div class="underline"><span></span></div></h3>
                <form action="">
                    <i class="ri-mail-line"></i>
                    <input type="email" placeholder="Ingrese su email" required>
                    <button type="submit"><i class="ri-arrow-right-line"></i></button>
                </form>
                <div class="social-icons">
                    <i class="ri-facebook-fill"></i>
                    <i class="ri-youtube-line"></i>
                    <i class="ri-whatsapp-line"></i>
                    <i class="ri-instagram-line"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Derechos Reservados © 2024 - Peloteros</p>
    </footer>
    
</body>
</html>
