<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            
        </nav> 
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <img src="/Recursos/logo.png" alt="" width="190px">
            <div class="text-sci">
                <h2>Bienvenido!<br><span>A nuestra Pagina</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
                    elit. Accusantium, ipsam asperiores maxime quidem 
                    porro sunt ab aut consectetur, adipisci expedita 
                    esse iusto nisi, exercitationem eos repudiandae 
                    eius debitis molestiae explicabo!</p>
                    <div class="social-icons">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-youtube'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                    </div>
            </div>
        </div>
        <div class="logreg-box">
            <div class="form-box register">
                <form id="login-usuario" method="post">
                    <h2>Iniciar Sesión</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope' ></i></span>
                        <input type="text" id="correo" name="correo" autocomplete="off" required>
                        <label>Email</label>
                    </div>
                    
                    <div class="input-box">
                        <span class="icon" onclick="togglePassword()">
                            <i class='bx bxs-lock-alt' id="toggleIcon"></i>
                        </span>
                        <input type="password" id="clave" name="clave" required>
                        <label>Contraseña</label>
                    </div>

                    <div class="remember-forgot">
                        <a href="ResetPassword.html" id="forget">¿Olvidaste tu contraseña?</a>
                    </div>
                    <button type="submit" class="btn">Ingresar</button>
                    <button type="submit" onclick="window.location.href='LoginRegister.html';" class="btn">Registrar</button>
                    <div id="resultado"></div>
                </form>
            </div>
        </div>
    </div>
    <script src="/Js/Login.js"></script>
</body>
</html>
