<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peloteros</title>
</head>
<body>
    <div class="banner">
        <video autoplay loop muted plays-inline src="video/video.mp4" type="video/mp4"></video>
        <div class="navbar">
            <img class="logo" src="/imagen/logo.png">
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>-->
        </div> 
        <div class="content">
            <h1 id="animated-text">EXPLORA LA PASION DEL FUTBOL</h1>
            <div>
                <button type="button" routerLink="/index" routerLinkActive="active" ariaCurrentWhenActive="page">Entrar</button>
            </div>
        </div>
    </div>

</body>
</html>
